NODE_ENV=development
PORT=4000
LOG_LEVEL=info
AUTH_JWKS_URL=http://auth:4001/v1/auth/.well-known/jwks.json
AUTH_SERVICE_URL=http://auth:4001
APPOINTMENTS_SERVICE_URL=http://appointments:4002
DOCTORS_SERVICE_URL=http://doctors:4003
PAYMENTS_SERVICE_URL=http://payments:4004
NOTIFICATIONS_SERVICE_URL=http://notifications:4005
