NODE_ENV=development
PORT=4002
LOG_LEVEL=info
DATABASE_URL=postgresql://appointments:appointments@localhost:5434/appointments_db?schema=public
DATABASE_URL_APP=postgresql://app_role:app_role_dev_password@localhost:5434/appointments_db?schema=public
SENTRY_DSN=
DOCTORS_SERVICE_URL=http://localhost:4003
PAYMENTS_SERVICE_URL=http://localhost:4004
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DOMAIN_EVENTS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:clinica-test-domain-events
APPOINTMENTS_DOMAIN_EVENTS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/clinica-test-appointments-domain-events
APPOINTMENTS_DOMAIN_EVENTS_DLQ_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/clinica-test-appointments-domain-events-dlq
APPOINTMENTS_DOMAIN_EVENTS_MAX_RECEIVE_COUNT=5
APPOINTMENT_EXPIRATION_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/clinica-test-appointment-expiration
APPOINTMENT_EXPIRATION_QUEUE_ARN=arn:aws:sqs:us-east-1:000000000000:clinica-test-appointment-expiration
APPOINTMENT_EXPIRATION_MAX_RECEIVE_COUNT=1
APPOINTMENT_REMINDERS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/clinica-test-appointment-reminders
APPOINTMENT_REMINDERS_QUEUE_ARN=arn:aws:sqs:us-east-1:000000000000:clinica-test-appointment-reminders
APPOINTMENT_REMINDERS_DLQ_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/clinica-test-appointment-reminders-dlq
APPOINTMENT_REMINDERS_MAX_RECEIVE_COUNT=3
APPOINTMENT_NOSHOW_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/clinica-test-appointment-noshow
SCHEDULER_GROUP_NAME=clinica-test-appointment-schedules
SCHEDULER_EXECUTION_ROLE_ARN=arn:aws:iam::000000000000:role/clinica-test-scheduler-execution-role
EMF_ENABLED=false
EMF_NAMESPACE=Clinica
ENV_NAME=dev
XRAY_ENABLED=false
XRAY_SAMPLING_RATE=1
